{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Logins</title>
  <link rel="stylesheet" href="{% static 'css/styles2.css' %}" />
</head>

<body>
  <div class="background"></div>
  <div class="card">
    <img class="logo" src="{% static 'temp/logo.svg' %}" />
    <h2>Welcome Back</h2>
    <form class="form" action="{% url 'accounts:login' %}" method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username or Email" />
      <input type="password" name="password" placeholder="Password" />
      <button type="submit">Sign In</button>
      <p><a style="text-decoration: none;" href="{% url 'password_reset' %}">Forgotten your password?</a></p>

    </form>
    <footer>
      Need an account? Sign up
      <a href="{% url 'accounts:register' %}">here</a>
    </footer>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>

</body>
{% load sweetify %}
{% sweetify %}

</html>