{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logout</title>
  <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
</head>
<body>
  <div class="container">
    <div class="right-panel-active text-center">
      <div class="container__form container--signin">
        <div class="box">
          <h2>Are you sure you want to logout?</h2>
          <form method="post">
            {% csrf_token %}
            <div class="form">
              <button type="submit" class="btn btn-danger">Logout</button>
            </div>
          </form>
          <p>If not, click <a href="{% url 'accounts:login' %}">here</a> to return.</p>
        </div>
      </div>
      <!-- Logout button moved down -->

      <!-- Overlay -->
      <div class="container__overlay">
        <div class="overlay">
          <div class="overlay__panel overlay--left">
            <button class="btn" id="signIn">Right</button>
          </div>
          <div class="overlay__panel overlay--right">
            <button class="btn" id="signUp">Left</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>
  <script defer src="{% static 'js/main.js' %}"></script>

  {% load sweetify %}
  {% sweetify %}
</body>
</html>
