{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>

<body>

    <div class="contact-container">
        <div class="left-col">
            <!-- <img class="logo" src="{% static 'images/logo-white.png' %}" /> -->
        </div>
        <div class="right-col">
            <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <div class="slider round"></div>
                </label>
                <div class="description">Dark Mode</div>
            </div>

            <h1>Contact us</h1>
            <p>Were Are Here to listen to your speeches. so whenever you can share your thoughts with us</p>
            <form id="contact-form" method="post" action="{% url 'website:contact' %}">
                {% csrf_token %}
                <label for="name">Full name</label>
                <input type="text" id="name" name="name" placeholder="Your Full Name" required>
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="Your Email Address" required>
                <label for="email">Subject</label>
                <input type="text" id="subject" name="subject" placeholder="Subject">
                <label for="message">Message</label>
                <textarea rows="6" placeholder="Your Message" id="message" name="message" required></textarea>
                {{form.captcha}}
                <button type="submit" name="submit">Send</button>
            </form>
            <a href="{% url 'website:index' %}"><button class="btn-bottom-right">Back to Home</button></a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>
    <!-- Image credit: Oliver Sjöström https://www.pexels.com/photo/body-of-water-near-green-mountain-931018/  -->
    <script src="{% static 'js/contact.js' %}"></script>
</body>
{% load sweetify %}
{% sweetify %}

</html>