{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load website-tags %}
{% load music-tags %}
{% load blog-tags %}
{% block content %}

<style>
    .title-box {
        background-color: #000;
        color: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        font-family: verdana;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    /* Set a larger fixed height for the carousel */
    #carouselExample .carousel-item img {
        height: 800px;
        /* Adjust this value as needed */
        object-fit: cover;
        /* Ensure images fill the designated space */
    }


    /* Center align the sections */
    .centered-section {
        text-align: center;
        margin: 0 auto;
    }

    /* Styling for Composer Quotes */
    .quote-card-container {
        max-width: 600px;
        margin: 30px auto;
        padding: 20px;
        border-radius: 10px;
        background-color: #f8f9fa;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    }

    .quote-text {
        font-style: italic;
        color: #555;
        margin-bottom: 20px;
    }

    .quote-author {
        font-weight: bold;
        color: #1f1f1f;
        font-size: large;
    }

</style>

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-interval="1000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/andres.jpg' %}" class="d-block w-100" alt="Andres Segovia">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="font-weight: bold;">Andres Segovia</h5>
                <p>The father of the modern classical guitar.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/paco.jpg' %}" class="d-block w-100" alt="Paco de Lucia">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="font-weight: bold;">Paco de Lucia</h5>
                <p>Renowned flamenco genius composer and guitarist.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/dyens.jpg' %}" class="d-block w-100" alt="Roland Dyens">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="font-weight: bold;">Roland Dyens</h5>
                <p>French classical guitarist, composer, and arranger.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/martelli.jpg' %}" class="d-block w-100" alt="Paco de Lucia">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="font-weight: bold;">Paulo Martelli</h5>
                <p>Renowned Brazilian classical guitarist.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<hr>
<!-- ############################################## Cards ############################################### -->
<div class="title-box">
    <h2>Some Soundseyf Guitar's geniuses</h2>
</div>

{% somegeniuses %}
<hr>
<!-- Composer Quotes -->
<div class="quote-card centered-section">
    <h3 class="mb-4">Composer Quotes</h3>
    <ul class="list-unstyled">
        <!-- Composer quotes list -->
        <li>
            <p class="quote-text">"The guitar is a small orchestra. It is polyphonic. Every string is a different color,
                a different voice."</p>
            <p class="quote-author">- Andrés Segovia</p>
        </li>
        <li>
            <p class="quote-text">"Nothing is more beautiful than a guitar, except, possibly two."</p>
            <p class="quote-author">- Frédéric Chopin</p>
        </li>
        <li>
            <p class="quote-text">"The guitar is the easiest instrument to play and the hardest to play well."</p>
            <p class="quote-author">- Andrés Segovia</p>
        </li>
        <li>
            <p class="quote-text">"With the guitar I've suffered a great deal, but when I've had a good time, the
                suffering seemed worthwhile."</p>
            <p class="quote-author">- Paco de Lucía</p>
        </li>
        <li>
            <p class="quote-text">"Composing is a wonderful task because of the sincerity it carries within, because of
                the act of creation, because it reveals the greatest depths of the human soul."</p>
            <p class="quote-author">- Maria Luisa Anido</p>
        </li>
    </ul>
</div>


{% endblock content %}