{% extends "base.html" %}
{% load static %}
{% load music-tags %}
{% load blog-tags %}
{% load thumbnail %}
{% block content %}
<style>
  /* Add your custom styles here */
  .composer-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }

  .composer-card:hover {
    transform: translateY(-5px);
  }

  .composer-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .composer-details {
    padding: 20px;
  }

  .composer-name {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }

  .composer-genre {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
  }

  .composer-bio {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
  }

  .composer-button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  .composer-button:hover {
    background-color: #969599;
  }

  .quote-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .quote-text {
    font-style: italic;
    color: #555;
    margin-bottom: 20px;
  }

  .quote-author {
    font-weight: bold;
    color: #1f1f1f;
    font-size: large;
  }

  .about-section {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
    margin-top: 30px;
  }

  .about-header {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }

  .about-text {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
  }

  .visit-website-button {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  .visit-website-button:hover {
    background-color: #e74c3c;
  }
/* Portfolio Section Styles */
  .portfolio-section {
  margin-top: 30px;
}

  .portfolio-item {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f8f9fa; /* Match the background color of other sections */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Match the box shadow of other cards */
  text-align: center; /* Center the content */
}

  .profile-image {
  width: 200px; /* Set the desired width */
  height: 200px; /* Set the same height to ensure the image is a circle */
  border-radius: 50%;
  margin: 0 auto 15px; /* Center the image horizontally and add some bottom margin */
  object-fit: cover; /* Ensure the image fills the circle without stretching */
}

  .portfolio-item h4 {
  font-size: 1.5rem; /* Match the font size of other headings */
  color: #333; /* Match the text color of other headings */
}

  .portfolio-item p {
  font-size: 1rem; /* Match the font size of other paragraphs */
  color: #777; /* Match the text color of other paragraphs */
}
</style>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div style="background-color: #81389e; border: 1px solid #000000; border-radius: 5px; padding: 20px;">
        <h2 class="card-title text-center mb-4" style="font-size: 3.5rem; font-family: 'Oswald', sans-serif; color: #ffffff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Meet Our Composers</h2>
      </div>  
        <div class="row">
        {% for composer in composers %}
        <div class="col-md-6 mb-4">
          <div class="card composer-card">
            <img src="{% thumbnail composer.image "600x400" crop="center" as im %}{{ im.url }}{% endthumbnail %}"
              alt="{{ composer.name }}" class="card-img-top composer-image">
            <div class="composer-details">
              <a style="text-decoration: none;" href="{% url 'music:pieces' cid=composer.id %}"><h3 class="card-title composer-name">{{ composer.name }}</h3></a>
              <p class="card-text composer-bio">{{ composer.biography|truncatewords:30 }}</p>
              <p class="composer-genre"><strong>Genre:</strong> {{ composer.genre }}</p>
              <form action="{% url 'music:Favorites' composer_id=composer.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-link composer-like-button" aria-label="Favorite Composer">
                  {% if composer.id in favorited_composer_ids %}
                    <i class="fas fa-heart text-danger"></i> <!-- Filled heart icon if composer is favorited by the user -->
                  {% else %}
                    <i class="far fa-heart"></i> <!-- Empty heart icon by default -->
                  {% endif %}
                </button>
              </form>
              <a href="{% url 'music:pieces' cid=composer.id %}"
                class="btn btn-primary composer-button">Get Pieces</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
          {% if composers.has_previous %}
          <li class="page-item">
            <a style="background-color:#6a1990; color: #ffffff;" class="page-link" href="?page=1">First</a>
          </li>
          <li class="page-item">
            <a style="background-color:#9c48c3; color: #ffffff;" class="page-link" href="?page={{ composers.previous_page_number }}">Previous</a>
          </li>
          {% endif %}
          <li class="page-item disabled">
            <a style="background-color:#ffffff; color: #991ab9;" class="page-link" href="#">Page {{ composers.number }} of {{ composers.paginator.num_pages }}</a>
          </li>
          {% if composers.has_next %}
          <li class="page-item">
            <a style="background-color:#9c48c3; color: #ffffff;" class="page-link" href="?page={{ composers.next_page_number }}">Next</a>
          </li>
          <li class="page-item">
            <a style="background-color:#6a1990; color: #ffffff;" class="page-link" href="?page={{ composers.paginator.num_pages }}">Last</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <div class="col-md-4">
      <div class="quote-card" style="box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);">
        <h3 class="mb-4">Composer Quotes</h3>
        <ul class="list-unstyled">
          <li>
            <p class="quote-text">"The guitar is a small orchestra. It is polyphonic. Every string is a different color, a different voice."</p>
            <p class="quote-author">- Andrés Segovia</p>
          </li>
          <li>
            <p class="quote-text">"Nothing is more beautiful than a guitar, except, possibly two."</p>
            <p class="quote-author">- Frédéric Chopin</p>
          </li>
          <li>
            <p class="quote-text">"The guitar is the easiest instrument to play and the hardest to play well."</p>
            <p class="quote-author">- Andrés Segovia</p>
          </li>
          <li>
            <p class="quote-text">"With the guitar I've suffered a great deal, but when I've had a good time, the suffering seemed worthwhile."</p>
            <p class="quote-author">- Paco de Lucía</p>
          </li>
        </ul>
      </div>
      <div class="about-section" style="box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);">
        <h3 class="about-header">About</h3>
        <p class="about-text">Blog App Created By Django And Designed By BootsWatch Theme for UI - you can also visit My website ....</p>
        <a href="https://bekbrace.com" class="btn btn-danger visit-website-button">Visit Website</a>
        <a href="https://docs.djangoproject.com/en/3.1" class="btn btn-secondary visit-website-button" style="background-color: #555;">Django Docs</a>
      </div>
      <div class="portfolio-section">
        <!-- Portfolio section -->
        <div style="box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);" class="portfolio-item">
          <h3>Portfolio</h3>
            <img src="{% static 'images/Ali.png' %}" alt="Profile Image" class="profile-image">
            <h4>Ali Seyfi</h4>
            <p>Ali seyfi is a Flamenco and classical Guitarist in Tehran , And Also a Django Web Developer. He won the fourth place in Iran Flamenco Guitar Festival in 2021 .</p>
        </div>
    </div>
    {% somepalos %}
    <hr>
    {% recentpost %}
  </div>
    </div>
  </div>
</div>


{% endblock %}

