{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}
<style>
  .card {
      box-shadow: 0 16px 48px #6a6a6b;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3 left top" style="padding-left: 0%;">
      <div class="container">
        {% for composer in composers %}
        <div class="card mb-3" style="max-width: 540px; padding-top: 3%;">
          <div class="row g-0">
            <div class="col-md-4" style="padding-left: 1%;">
              {% thumbnail composer.image "200x200" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}
            </div>
            <div class="col-md-8" style="padding-left: 4%;">
              <div class="card-body">
                <a href="{% url 'music:pieces' cid=composer.id %}" style="text-decoration: none;">
                  <h5 class="card-title" style="color:darkviolet">{{composer.name}}</h5>
                </a>
                <p class="card-text">{{composer.biography|truncatewords:20}}</p>
                <h6 style="color:black;">{{composer.genre}}</h6>
                <a href="{% url 'music:pieces' cid=composer.id %}"><button
                    class="btn btn-outline-danger">Get</button></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <nav class="blog-pagination justify-content-center d-flex">
        <ul class="pagination">
          {% if composers.has_previous %}
          <li class="page-item">
            <a href="?page={{ composers.previous_page_number }}" class="page-link" aria-label="Previous">First
              <span aria-hidden="true">
                <span class="lnr lnr-chevron-left"></span>
              </span>
            </a>
          </li>
          {% endif %}

          {% for i in composers.paginator.page_range %}
          {% if composers.number == i %}
          <li class="page-item active "><a href="?page={{i}}" class="page-link">{{i}}</a></li>
          {% else %}
          <li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
          {% endif %}
          {% endfor %}

          {% if composers.has_next %}
          <li class="page-item">
            <a href="?page={{ composers.next_page_number }}" class="page-link" aria-label="Next">Last
              <span aria-hidden="true">
                <span class="lnr lnr-chevron-right"></span>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <!-- Sidebar with quotes -->
    <div class="col-md-4 card mb-4 mt-3" style="padding-left: 0%;">
      <div class="container">
        <div class="card mb-3" style="max-width: 540px; padding-top: 3%;">
          <div class="row g-0">
            <div class="col-md-12" style="padding-left: 1%;">
              <div class="card-body">
                <h5 class="card-title" style="color: darkviolet;">Composer Quotes</h5>
                <ul style="list-style-type: none; padding-left: 0;">
                  <li style="padding-top: 3%;"><strong>Andrés Segovia:</strong> "The guitar is a small orchestra. It is polyphonic. Every string is a different color, a different voice."</li>
                  <li style="padding-top: 3%;"><strong>Frédéric Chopin:</strong> "Nothing is more beautiful than a guitar, except, possibly two."</li>
                  <li style="padding-top: 3%;"><strong>Andrés Segovia:</strong> "The guitar is the easiest instrument to play and the hardest to play well."</li>
                  <li style="padding-top: 3%;" ><strong>Paco de lucia:</strong> "With the guitar I've suffered a great deal, but when I've had a good time, the suffering seemed worthwhile."</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Additional component -->
        <div class="card mb-4">
          <h5 class="card-header">About</h5>
          <div class="card-body">
              <p class="card-text">Blog App Created By Django And Designed By BootsWatch Theme for UI - 
                  you can also visit My website ....
              </p>
              <a href="https://bekbrace.com" class="btn btn-danger">Visit Website</a>
              <a href="https://docs.djangoproject.com/en/3.1" class="btn btn-secondary">Django Docs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
